@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-6">
        <h2>Доходы</h2>
        @Html.ActionLink("Добавить доход", "CreateIncome", "Records", null, new { @class = "btn btn-primary" })
    </div>
    <div class="col-md-6">
        <h2>Расходы</h2>
        @Html.ActionLink("Добавить расход", "CreateExpense", "Records", null, new { @class = "btn btn-primary" })
    </div>
</div>